<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.project.dao.TCompanyMapper">
  <resultMap id="BaseResultMap" type="com.company.project.model.TCompany">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="companyid" jdbcType="INTEGER" property="companyid" />
    <result column="companyname" jdbcType="VARCHAR" property="companyname" />
  </resultMap>
</mapper>